{% extends "admin/index.html" %}
{% load i18n unfold %}

{% block content %}

{% url "admin:inventory_reserva_add" as url_reserva %}
{% url "admin:inventory_atencion_add" as url_atencion %}
{% url "admin:inventory_venta_add" as url_venta %}

{% component "unfold/components/flex.html" with class="gap-3 mb-8" %}
    {% component "unfold/components/button.html" with href=url_reserva submit=0 %}
        {% trans "+ Nueva reserva" %}
    {% endcomponent %}
    {% component "unfold/components/button.html" with href=url_atencion submit=0 %}
        {% trans "+ Nueva atención" %}
    {% endcomponent %}
    {% component "unfold/components/button.html" with href=url_venta submit=0 %}
        {% trans "+ Nueva venta" %}
    {% endcomponent %}
{% endcomponent %}


{# KPIs #}
{% component "unfold/components/flex.html" with class="gap-4 mb-8 flex-col lg:flex-row" %}
    {% for card in kpi %}
        {% component "unfold/components/card.html" with class="lg:w-1/4" footer=card.footer %}
            {% component "unfold/components/text.html" %}{{ card.title }}{% endcomponent %}
            {% component "unfold/components/title.html" %}{{ card.metric }}{% endcomponent %}
        {% endcomponent %}
    {% endfor %}
{% endcomponent %}

{# Reservas + Stock #}
{% component "unfold/components/flex.html" with class="gap-4 mb-8 flex-col lg:flex-row" %}
    {% trans "Reservas de hoy" as title %}
    {% component "unfold/components/card.html" with class="lg:w-2/3" title=title %}
        {% component "unfold/components/table.html" with card_included=1 striped=1 table=tabla_reservas %}{% endcomponent %}
    {% endcomponent %}

    {% trans "Stock bajo" as title %}
    {% component "unfold/components/card.html" with class="lg:w-1/3" title=title %}
        {% component "unfold/components/table.html" with card_included=1 table=tabla_stock %}{% endcomponent %}
    {% endcomponent %}
{% endcomponent %}

{# Atenciones #}
{% trans "Atenciones esta semana" as title %}
{% component "unfold/components/card.html" with class="mb-8" title=title %}
    {% component "unfold/components/table.html" with card_included=1 striped=1 table=tabla_atenciones %}{% endcomponent %}
{% endcomponent %}

{# Clientes nuevos #}
{% trans "Clientes nuevos (últimos 7 días)" as title %}
{% component "unfold/components/card.html" with class="mb-8" title=title %}
    {% component "unfold/components/table.html" with card_included=1 table=tabla_clientes %}{% endcomponent %}
{% endcomponent %}

{% endblock %}